<केंद्र><h1>अध्याय 7 गुम डेटा</h1></केंद्र>

In [1]:
import numpy as np
import pandas as pd

## 1. सांख्यिकी और लुप्त मानों का विलोपन
### 1. गुम सूचना के आँकड़े

गुम डेटा के लिए, आप यह जांचने के लिए `isna` या `isnull` (दोनों फ़ंक्शन समान हैं) का उपयोग कर सकते हैं कि क्या प्रत्येक सेल `मीन` के साथ संयुक्त है, प्रत्येक कॉलम में लापता मानों का अनुपात हो सकता है गणना:

In [2]:
df = pd.read_csv('../data/learn_pandas.csv', usecols = ['Grade', 'Name', 'Gender', 'Height', 'Weight', 'Transfer'])
df.isna().head()

   Grade   Name  Gender  Height  Weight  Transfer
0  False  False   False   False   False     False
1  False  False   False   False   False     False
2  False  False   False   False   False     False
3  False  False   False    True   False     False
4  False  False   False   False   False     False

In [3]:
df.isna().mean() # 查看缺失的比例

Grade       0.000
Name        0.000
Gender      0.000
Height      0.085
Weight      0.055
Transfer    0.060
dtype: float64

यदि आप उन पंक्तियों को देखना चाहते हैं जहां कोई कॉलम गायब है या गायब नहीं है, तो आप बूलियन इंडेक्सिंग के लिए `सीरीज` पर `isna` या `notna` का उपयोग कर सकते हैं। उदाहरण के लिए, उन पंक्तियों को देखने के लिए जहां ऊंचाई गायब है:

In [4]:
df[df.Height.isna()].head()

        Grade          Name  Gender  Height  Weight Transfer
3   Sophomore  Xiaojuan Sun  Female     NaN    41.0        N
12     Senior      Peng You  Female     NaN    48.0      NaN
26     Junior     Yanli You  Female     NaN    48.0        N
36   Freshman  Xiaojuan Qin    Male     NaN    79.0        Y
60   Freshman    Yanpeng Lv    Male     NaN    65.0        N

यदि आप एक ही समय में सभी गायब कॉलम, कम से कम एक गायब कॉलम, या कोई गायब कॉलम वाली पंक्तियों को पुनः प्राप्त करना चाहते हैं, तो आप `isna, notna` और `any, all` के संयोजन का उपयोग कर सकते हैं इन तीन स्थितियों में ऊंचाई, वजन और स्थानांतरण स्थिति के तीन कॉलम:

In [5]:
sub_set = df[['Height', 'Weight', 'Transfer']]
df[sub_set.isna().all(1)] # 全部缺失

      Grade          Name Gender  Height  Weight Transfer
102  Junior  Chengli Zhao   Male     NaN     NaN      NaN

In [6]:
df[sub_set.isna().any(1)].head() # 至少有一个缺失

        Grade           Name  Gender  Height  Weight Transfer
3   Sophomore   Xiaojuan Sun  Female     NaN    41.0        N
9      Junior        Juan Xu  Female   164.8     NaN        N
12     Senior       Peng You  Female     NaN    48.0      NaN
21     Senior  Xiaopeng Shen    Male   166.0    62.0      NaN
26     Junior      Yanli You  Female     NaN    48.0        N

In [7]:
df[sub_set.notna().all(1)].head() # 没有缺失

       Grade            Name  Gender  Height  Weight Transfer
0   Freshman    Gaopeng Yang  Female   158.9    46.0        N
1   Freshman  Changqiang You    Male   166.5    70.0        N
2     Senior         Mei Sun    Male   188.9    89.0        N
4  Sophomore     Gaojuan You    Male   174.0    74.0        N
5   Freshman     Xiaoli Qian  Female   158.0    51.0        N

### 2. गुम सूचना को हटाना

डेटा प्रोसेसिंग में, लापता मानों के आकार, अनुपात या अन्य विशेषताओं के आधार पर पंक्ति नमूने या कॉलम सुविधाओं को हटाना अक्सर आवश्यक होता है। `पांडा` इस ऑपरेशन को करने के लिए `ड्रॉपना` फ़ंक्शन प्रदान करता है।

`ड्रॉपना` के मुख्य पैरामीटर अक्ष दिशा `अक्ष` हैं (डिफ़ॉल्ट 0 है, यानी पंक्तियों को हटाएं), हटाने की विधि `कैसे`, गैर-लापता मानों की संख्या की सीमा हटा दिया गया `थ्रेश` (संबंधित आयामजो इस संख्या तक नहीं पहुंचेंगे उन्हें हटा दिया जाएगा), और वैकल्पिक विलोपन उपसमुच्चय 'उपसमूह', उनमें से 'कैसे' में चुनने के लिए मुख्य रूप से दो पैरामीटर हैं: 'कोई भी' और 'सभी'।

उदाहरण के लिए, कम से कम एक गायब ऊँचाई और वजन वाली पंक्तियाँ हटाएँ:

In [8]:
res = df.dropna(how = 'any', subset = ['Height', 'Weight'])
res.shape

(174, 6)

उदाहरण के लिए, 15 से अधिक लुप्त मान वाले कॉलम को हटाने के लिए:

In [9]:
res = df.dropna(1, thresh=df.shape[0]-15) # 身高被删除
res.head()

       Grade            Name  Gender  Weight Transfer
0   Freshman    Gaopeng Yang  Female    46.0        N
1   Freshman  Changqiang You    Male    70.0        N
2     Senior         Mei Sun    Male    89.0        N
3  Sophomore    Xiaojuan Sun  Female    41.0        N
4  Sophomore     Gaojuan You    Male    74.0        N

बेशक, `ड्रॉपना` के बिना भी ऐसा करना संभव है। उदाहरण के लिए, ऊपर उल्लिखित दो ऑपरेशन बूलियन इंडेक्सिंग का उपयोग करके भी किए जा सकते हैं:

In [10]:
res = df.loc[df[['Height', 'Weight']].notna().all(1)]
res.shape

(174, 6)

In [11]:
res = df.loc[:, ~(df.isna().sum()>15)]
res.head()

       Grade            Name  Gender  Weight Transfer
0   Freshman    Gaopeng Yang  Female    46.0        N
1   Freshman  Changqiang You    Male    70.0        N
2     Senior         Mei Sun    Male    89.0        N
3  Sophomore    Xiaojuan Sun  Female    41.0        N
4  Sophomore     Gaojuan You    Male    74.0        N

## 2. लुप्त मानों की पूर्ति एवं प्रक्षेप
### 1. भराव भरना

`फिलना` में आमतौर पर उपयोग किए जाने वाले तीन पैरामीटर हैं: `वैल्यू, मेथड, लिमिट`। उनमें से `वैल्यू` फिलिंग वैल्यू है, जो इंडेक्स से एलिमेंट तक एक स्केलर या डिक्शनरी मैपिंग हो सकता है; `मेथड` फिलिंग है; विधि, जिसके दो प्रकार हैं: पिछले तत्वों को भरने के लिए `ffill` और निम्नलिखित तत्वों को भरने के लिए `bfill` `limit` पैरामीटर लगातार गायब v के लिए भरने की अधिकतम संख्या को इंगित करता हैalues.

आइए उपयोग को स्पष्ट करने के लिए एक सरल `श्रृंखला` बनाएं:

In [12]:
s = pd.Series([np.nan, 1, np.nan, np.nan, 2, np.nan], list('aaabcd'))
s

a    NaN
a    1.0
a    NaN
b    NaN
c    2.0
d    NaN
dtype: float64

In [13]:
s.fillna(method='ffill') # 用前面的值向后填充

a    NaN
a    1.0
a    1.0
b    1.0
c    2.0
d    2.0
dtype: float64

In [14]:
s.fillna(method='ffill', limit=1) # 连续出现的缺失，最多填充一次

a    NaN
a    1.0
a    1.0
b    NaN
c    2.0
d    2.0
dtype: float64

In [15]:
s.fillna(s.mean()) # value为标量

a    1.5
a    1.0
a    1.5
b    1.5
c    2.0
d    1.5
dtype: float64

In [16]:
s.fillna({'a': 100, 'd': 200}) # 通过索引映射填充的值

a    100.0
a      1.0
a    100.0
b      NaN
c      2.0
d    200.0
dtype: float64

कभी-कभी, अधिक उचित रूप से भरने के लिए, आपको पहले समूह बनाना होगा और फिर संचालित करना होगा। उदाहरण के लिए, ग्रेड के अनुसार ऊंचाई का औसत मान भरें:

In [17]:
df.groupby('Grade')['Height'].transform(lambda x: x.fillna(x.mean())).head()

0    158.900000
1    166.500000
2    188.900000
3    163.075862
4    174.000000
Name: Height, dtype: float64

#### 【अभ्यास】
निम्नलिखित नियमों के अनुसार लुप्त मानों को एक क्रम में भरें: यदि कोई लुप्त मान अकेला दिखाई देता है, तो उसे पहले और बाद के माध्य से भरें, यदि लुप्त मान लगातार दिखाई देते हैं, तो उसे न भरें, अर्थात। अनुक्रम `[1, NaN, 3, NaN, NaN]` `[1, 2, 3, NaN, NaN]` से भरा है, कृपया इसे लागू करने के लिए `fillna` फ़ंक्शन का उपयोग करें (संकेत: `सीमा का उपयोग करें `पैरामीटर)
#### 【अंत】
### 2. इंटरपोलेशन फ़ंक्शन

`इंटरपोलेट` फ़ंक्शन के विवरण में [दस्तावेज़](https://pandas.pydata.org/docs/reference/api/pandas.Series.interpolate.html#pandas.Series.interpolate), कई इंटरपोलेशन विधियां सूचीबद्ध हैं, जिनमें `Scipy` में बड़ी संख्या में विधियां शामिल हैं क्योंकि कई इंटरपोलेशन विधियों में अपेक्षाकृत जटिल गणित शामिल है ज्ञान, यहां केवल तीन सामान्य और सरल मामलों पर चर्चा की गई है, अर्थात् रैखिक प्रक्षेप, निकटतम पड़ोसी प्रक्षेप और सूचकांक प्रक्षेप।

`इंटरपोलेट` के लिए, इंटरपोलेशन विधि के अलावा (डिफ़ॉल्ट `रैखिक` रैखिक इंटरपोल है)tion), `फ़िलना` के समान दो सामान्य पैरामीटर हैं, एक दिशा को नियंत्रित करने के लिए `limit_direction` है, और दूसरा `limi` है जो इंटरपोलेट करने के लिए लगातार लापता मानों की अधिकतम संख्या को नियंत्रित करता है। प्रतिबंधित इंटरपोलेशन की डिफ़ॉल्ट दिशा `फॉरवर्ड` है, जो `फिलना` की `मेथड` में `फिल` के समान है। यदि आप बैकवर्ड प्रतिबंधित इंटरपोलेशन या द्विदिश प्रतिबंधित इंटरपोलेशन चाहते हैं, तो आप इसे `बैकवर्ड` या` दोनों के रूप में निर्दिष्ट कर सकते हैं। `.

In [18]:
s = pd.Series([np.nan, np.nan, 1, np.nan, np.nan, np.nan, 2, np.nan, np.nan])
s.values

array([nan, nan,  1., nan, nan, nan,  2., nan, nan])

उदाहरण के लिए, डिफ़ॉल्ट रैखिक इंटरपोलेशन विधि के तहत, `पिछड़ा` और द्विदिश सीमित इंटरपोलेशन क्रमशः किया जाता है, और लगातार पंक्तियों की अधिकतम संख्या 1 तक सीमित होती है:

In [19]:
res = s.interpolate(limit_direction='backward', limit=1)
res.values

array([ nan, 1.  , 1.  ,  nan,  nan, 1.75, 2.  ,  nan,  nan])

In [20]:
res = s.interpolate(limit_direction='both', limit=1)
res.values

array([ nan, 1.  , 1.  , 1.25,  nan, 1.75, 2.  , 2.  ,  nan])

दूसरा सामान्य प्रक्षेप निकटतम पड़ोसी प्रक्षेप है, जहां लुप्त मान निकटतम गैर-लुप्त मान के समान है:

In [21]:
s.interpolate('nearest').values

array([nan, nan,  1.,  1.,  1.,  2.,  2., nan, nan])

अंत में, आइए इंडेक्स इंटरपोलेशन का परिचय दें, जो इंडेक्स आकार के आधार पर रैखिक इंटरपोलेशन है, उदाहरण के लिए, प्रदर्शन के लिए असमान दूरी वाले इंडेक्स का निर्माण करें:

In [22]:
s = pd.Series([0,np.nan,10],index=[0,1,10])
s

0      0.0
1      NaN
10    10.0
dtype: float64

In [23]:
s.interpolate() # 默认的线性插值，等价于计算中点的值

0      0.0
1      5.0
10    10.0
dtype: float64

In [24]:
s.interpolate(method='index') # 和索引有关的线性插值，计算相应索引大小对应的值

0      0.0
1      1.0
10    10.0
dtype: float64

साथ ही, इस पद्धति का उपयोग टाइमस्टैम्प इंडेक्स के लिए भी किया जा सकता है। समय श्रृंखला के बारे में अन्य विषयों पर अध्याय 10 में चर्चा की जाएगी। यहां एक सरल उदाहरण दिया गया है:

In [25]:
s = pd.Series([0,np.nan,10], index=pd.to_datetime(['20200101', '20200102', '20200111']))
s

2020-01-01     0.0
2020-01-02     NaN
2020-01-11    10.0
dtype: float64

In [26]:
s.interpolate()

2020-01-01     0.0
2020-01-02     5.0
2020-01-11    10.0
dtype: float64

In [27]:
s.interpolate(method='index')

2020-01-01     0.0
2020-01-02     1.0
2020-01-11    10.0
dtype: float64

#### 【नोट】बहुपद और तख़्ता प्रक्षेप पर नोट्स
यदि `बहुपद` की प्रक्षेप विधि को `इंटरपोलेट` में चुना जाता है, तो यह आंतरिक रूप से `scipy.interpolate.interp1d(*,*,kind=order)` को कॉल करता है, जो आंतरिक रूप से `make_interp_spline` विधि को कॉल करता है, इसलिए यह वास्तव में स्पलाइन इंटरपोलेशन है `numpy` में `polyfit` के समान बहुपद फिटिंग इंटरपोलेशन के बजाय और जब `spline` विधि का चयन किया जाता है, तो `pandas` साधारण spline interpolati के बजाय `scipy.interpolate.UnivariateSpline` को कॉल करता है;इस भाग का दस्तावेज़ विवरण भ्रामक है, और इस पैरामीटर का डिज़ाइन भी अनुचित है। इन दो प्रकार की इंटरपोलेशन विधियों का उपयोग करते समय, उपयोगकर्ताओं को अपनी वास्तविक आवश्यकताओं के अनुसार उचित इंटरपोलेशन विधि चुनने में सावधानी बरतनी चाहिए।
#### 【अंत】
## 3. अशक्त प्रकार
### 1. लुप्त प्रतीक एवं उसके दोष

`पायथन` में, लुप्त मानों को `कोई नहीं` द्वारा दर्शाया जाता है, जो स्वयं को छोड़कर किसी अन्य तत्व के बराबर नहीं है:

In [28]:
None == None

True

In [29]:
None == False

False

In [30]:
None == []

False

In [31]:
None == ''

False

Numpy में, np.nan का उपयोग लापता मानों को दर्शाने के लिए किया जाता है, किसी अन्य तत्व के साथ असमान होने के अलावा, स्वयं के साथ तुलना परिणाम भी गलत होता है:

In [32]:
np.nan == np.nan

False

In [33]:
np.nan == None

False

In [34]:
np.nan == False

False

यह ध्यान देने योग्य है कि यद्यपि लापता अनुक्रमों या तालिकाओं के तत्वों की तुलना करते समय np.nan की संबंधित स्थिति गलत लौट आएगी, दो तालिकाओं या दो अनुक्रमों की पहचान का परीक्षण करने के लिए बराबर फ़ंक्शन का उपयोग करते समय, यह स्वचालित रूप से उन स्थितियों को छोड़ देगा जहां दोनों तालिकाएं हैं गुम मान हैं और सीधे सत्य लौटाते हैं:

In [35]:
s1 = pd.Series([1, np.nan])
s2 = pd.Series([1, 2])
s3 = pd.Series([1, np.nan])
s1 == 1

0     True
1    False
dtype: bool

In [36]:
s1.equals(s2)

False

In [37]:
s1.equals(s3)

True

समय श्रृंखला वस्तुओं में, `पांडा` लापता मानों को संदर्भित करने के लिए `pd.NaT` का उपयोग करता है, जिसका प्रभाव `np.nan` के समान होता है (समय श्रृंखला वस्तुओं और निर्माणों पर अध्याय 10 में चर्चा की जाएगी):

In [38]:
pd.to_timedelta(['30s', np.nan]) # Timedelta中的NaT

TimedeltaIndex(['0 days 00:00:30', NaT], dtype='timedelta64[ns]', freq=None)

In [39]:
pd.to_datetime(['20200101', np.nan]) # Datetime中的NaT

DatetimeIndex(['2020-01-01', 'NaT'], dtype='datetime64[ns]', freq=None)

तो समय वस्तुओं में लुप्त मानों को दर्शाने के लिए `pd.NaT` क्यों पेश करें? यदि हम अभी भी उन्हें `np.nan` के रूप में संग्रहीत करते हैं, तो क्या समस्याएँ हैं? `पांडा` में, हम प्रकार की वस्तुओं को देख सकते हैं `ऑब्जेक्ट`, जो एक मिश्रित ऑब्जेक्ट प्रकार है। यदि एक ही समय में `सीरीज़` में कई प्रकार के तत्व संग्रहीत हैं, तो इसका प्रकार `ऑब्जेक्ट` बन जाएगा। उदाहरण के लिए, एक सूची जो पूर्णांक और स्ट्रिंग दोनों को संग्रहीत करती है:

In [40]:
pd.Series([1, 'two'])

0      1
1    two
dtype: object

`NaT` समस्या की जड़ इस तथ्य से आती है कि `np.nan` स्वयं एक फ़्लोटिंग-पॉइंट प्रकार है। यदि फ़्लोटिंग-पॉइंट और समय प्रकार को एक साथ संग्रहीत किया जाता है, तो एक नया अंतर्निहित लापता प्रकार को संभालने के लिए डिज़ाइन नहीं किया गया है यह, यह एक अस्पष्ट 'ऑब्जेक्ट' प्रकार बन जाएगा, जो स्पष्ट रूप से वांछनीय नहीं है।

In [41]:
type(np.nan)

float

उसी समय, `np.nan` की फ़्लोटिंग-पॉइंट प्रकृति के कारण, यदि पूर्णांकों की `श्रृंखला` में कोई लुप्त मान है, तो इसका प्रकार `float64` में परिवर्तित हो जाएगा और यदि कोई लुप्त मान है; बूलियन श्रृंखला में, इसका प्रकार `बूल` के बजाय `ऑब्जेक्ट` में परिवर्तित हो जाएगा:

In [42]:
pd.Series([1, np.nan]).dtype

dtype('float64')

In [43]:
pd.Series([True, False, np.nan]).dtype

dtype('O')

इसलिए, `1.0.0` संस्करण में प्रवेश करने के बाद, `पांडा` ने इन दोषों से निपटने के लिए एक नया लापता प्रकार `pd.NA` और तीन `nullable` अनुक्रम प्रकार डिजाइन करने का प्रयास किया, जो `Int, boolean` और `string हैं `.

### 2. निरर्थक प्रकार के गुण

शाब्दिक अर्थ से, 'Nullable' खाली है, जिसका अर्थ है कि अनुक्रम प्रकार लापता मानों से प्रभावित नहीं होता है। उदाहरण के लिए, उपरोक्त तीन 'Nullable' प्रकारों में लुप्त मानों को संग्रहीत करने से 'पांडा' निर्मित हो जाएगा -in `pd.NA`:

In [44]:
pd.Series([np.nan, 1], dtype = 'Int64') # "i"是大写的

0    <NA>
1       1
dtype: Int64

In [45]:
pd.Series([np.nan, True], dtype = 'boolean')

0    <NA>
1    True
dtype: boolean

In [46]:
pd.Series([np.nan, 'my_str'], dtype = 'string')

0      <NA>
1    my_str
dtype: string

`Int` के अनुक्रम में, जब भी संभव हो लौटाए गए परिणाम `Nullable` प्रकार के होंगे:

In [47]:
pd.Series([np.nan, 0], dtype = 'Int64') + 1

0    <NA>
1       1
dtype: Int64

In [48]:
pd.Series([np.nan, 0], dtype = 'Int64') == 0

0    <NA>
1    True
dtype: boolean

In [49]:
pd.Series([np.nan, 0], dtype = 'Int64') * 0.5 # 只能是浮点

0    NaN
1    0.0
dtype: float64

`बूलियन` प्रकार के अनुक्रम के लिए, `बूल` अनुक्रम से व्यवहार में दो मुख्य अंतर हैं:

पहला यह है कि लुप्त मानों वाली बूलियन सूची को इंडेक्सर में नहीं चुना जा सकता है, जबकि `बूलियन` लुप्त मानों को `गलत` मानता है:

In [50]:
s = pd.Series(['a', 'b'])
s_bool = pd.Series([True, np.nan])
s_boolean = pd.Series([True, np.nan]).astype('boolean')
# s[s_bool] # त्रुटि
s[s_boolean]

0    a
dtype: object

दूसरा बिंदु यह है कि तार्किक संचालन करते समय, 'बूल' प्रकार हमेशा लापता मूल्य पर 'गलत' लौटाता है, जबकि 'बूलियन' इस आधार पर संबंधित मान लौटाएगा कि तार्किक ऑपरेशन एक अद्वितीय परिणाम निर्धारित कर सकता है या नहीं एक अद्वितीय परिणाम निर्धारित करने का मतलब है? आइए एक सरल उदाहरण लें: `True |. pd.NA` लुप्त मूल्य की परवाह किए बिना हमेशा `True` लौटाएगा; लुप्त मान, और `pd.NA` होगाइस मामले में l लौटाया जाएगा; `गलत और pd.NA` गायब मूल्य की परवाह किए बिना हमेशा `गलत` लौटाएगा।

In [51]:
s_boolean & True

0    True
1    <NA>
dtype: boolean

In [52]:
s_boolean | True

0    True
1    True
dtype: boolean

In [53]:
~s_boolean # 取反操作同样是无法唯一地判断缺失结果

0    False
1     <NA>
dtype: boolean

`स्ट्रिंग` प्रकार के विशिष्ट गुणों पर टेक्स्ट डेटा पर अगले अध्याय में चर्चा की जाएगी।

आम तौर पर, वास्तविक डेटा को संसाधित करते समय, आप डेटा सेट को पढ़ने के बाद इसे `convert_dtypes` के माध्यम से `Nullable` प्रकार में परिवर्तित कर सकते हैं:

In [54]:
df = pd.read_csv('../data/learn_pandas.csv')
df = df.convert_dtypes()
df.dtypes

School          string
Grade           string
Name            string
Gender          string
Height         float64
Weight           Int64
Transfer        string
Test_Number      Int64
Test_Date       string
Time_Record     string
dtype: object

### 3. लुप्त डेटा की गणना और समूहीकरण

जोड़ और गुणन का उपयोग करके फ़ंक्शन को `sum, prod` कहते समय, गायब डेटा को क्रमशः 0 और 1 के रूप में माना जाता है, जो मूल गणना परिणामों को नहीं बदलता है:

In [55]:
s = pd.Series([2,3,np.nan,4,5])
s.sum()

14.0

In [56]:
s.prod()

120.0

संचयी फ़ंक्शन का उपयोग करते समय, लापता मान स्वचालित रूप से छोड़ दिए जाते हैं:

In [57]:
s.cumsum()

0     2.0
1     5.0
2     NaN
3     9.0
4    14.0
dtype: float64

एकल स्केलर ऑपरेशन करते समय, `np.nan ** 0` और `1 ** np.nan` के दो मामलों को छोड़कर, जो निश्चित मान हैं, ऑपरेशन के सभी परिणाम गायब हैं (`pd का व्यवहार) .NA` इसके अनुरूप है), और `np.nan` को तुलना ऑपरेशन में `False` लौटाना होगा, जबकि `pd.NA` `pd.NA` लौटाता है:

In [58]:
np.nan == 0

False

In [59]:
pd.NA == 0

In [60]:
np.nan > 0

False

In [61]:
pd.NA > 0

In [62]:
np.nan + 1

nan

In [63]:
np.log(np.nan)

nan

In [64]:
np.add(np.nan, 1)

nan

In [65]:
np.nan ** 0

1.0

In [66]:
pd.NA ** 0

1

In [67]:
1 ** np.nan

1.0

In [68]:
1 ** pd.NA

1

यह भी ध्यान दिया जाना चाहिए कि यद्यपि दो फ़ंक्शन `diff, pct_change` के समान कार्य हैं, वे लापता मानों को अलग-अलग तरीके से संभालते हैं, पहले में, लापता गणना में शामिल सभी भाग लापता मानों पर सेट होते हैं, जबकि बाद में, लुप्त मान स्थितियाँ 0% की परिवर्तन दर पर सेट हैं:

In [69]:
s.diff()

0    NaN
1    1.0
2    NaN
3    NaN
4    1.0
dtype: float64

In [70]:
s.pct_change()

0         NaN
1    0.500000
2    0.000000
3    0.333333
4    0.250000
dtype: float64

कुछ फ़ंक्शंस के लिए, लापता को एक श्रेणी के रूप में माना जा सकता है, उदाहरण के लिए, `groupby, get_dummies` में, आप लापता श्रेणियों को जोड़ने के लिए संबंधित पैरामीटर सेट कर सकते हैं:

In [71]:
df_nan = pd.DataFrame({'category':['a','a','b',np.nan,np.nan], 'value':[1,3,5,7,9]})
df_nan

  category  value
0        a      1
1        a      3
2        b      5
3      NaN      7
4      NaN      9

In [72]:
df_nan.groupby('category', dropna=False)['value'].mean() # pandas版本大于1.1.0

category
a      2
b      5
NaN    8
Name: value, dtype: int64

In [73]:
pd.get_dummies(df_nan.category, dummy_na=True)

   a  b  NaN
0  1  0    0
1  1  0    0
2  0  1    0
3  0  0    1
4  0  0    1

##4. व्यायाम
### Ex1: लुप्त मानों और श्रेणियों के बीच सहसंबंध परीक्षण
डेटा प्रोसेसिंग में, बहुत सारे गायब मान वाले कॉलम अक्सर हटा दिए जाते हैं जब तक कि गायब मान लेबल के साथ दृढ़ता से सहसंबद्ध न हों, नीचे एक बाइनरी वर्गीकरण समस्या के लिए एक डेटा सेट है, जहां `X_1, X_2` हैं फ़ीचर वेरिएबल्स और `y` एक बाइनरी वर्गीकरण लेबल है।

In [74]:
df = pd.read_csv('../data/missing_chi.csv')
df.head()

    X_1  X_2  y
0   NaN  NaN  0
1   NaN  NaN  0
2   NaN  NaN  0
3  43.0  NaN  0
4   NaN  NaN  0

In [75]:
df.isna().mean()

X_1    0.855
X_2    0.894
y      0.000
dtype: float64

In [76]:
df.y.value_counts(normalize=True)

0    0.918
1    0.082
Name: y, dtype: float64

वास्तव में, कभी-कभी गायब मूल्यों की उपस्थिति या अनुपस्थिति स्वयं एक विशेषता होती है, और कुछ मामलों में यह लापता मूल्यों की उपस्थिति या अनुपस्थिति के संबंध में लेबल के सकारात्मक या नकारात्मक से संबंधित हो सकती है लेबल की सकारात्मक या नकारात्मक प्रकृति, ची-स्क्वायर परीक्षण का उपयोग आंकड़ों में यह सुनिश्चित करने के लिए किया जा सकता है कि गायब सुविधाओं वाले सकारात्मक उदाहरणों के अनुसार, गायब सुविधाओं वाले नकारात्मक उदाहरणों के अनुसार, उनके बीच कोई संबंध है या नहींगायब विशेषताएं, और बिना गायब सुविधाओं वाले नकारात्मक उदाहरण, इसे चार मामलों में विभाजित किया जा सकता है, और संबंधित नमूना संख्याएं $n_{11}, n_{10}, n_{01}, n_{00}$ हैं असंबंधित हैं, तो गायब फीचर में सकारात्मक उदाहरणों का सैद्धांतिक मूल्य $\times$कुल सकारात्मक उदाहरणों में गायब फीचर की कुल संख्या के अनुपात के करीब होना चाहिए, यानी:

$$E_{11} = n_{11} \लगभग (n_{11}+n_{10})\times\frac{n_{11}+n_{01}}{n_{11}+n_{10}+ n_{01}+n_{00}} = F_{11}$$

वही टी हैअन्य तीन मामलों के लिए, अब वास्तविक मूल्य और सैद्धांतिक मूल्य को क्रमशः $E_{ij}, F_{ij}$ के रूप में दर्ज किया जाए। फिर हम आशा करते हैं कि निम्नलिखित आँकड़ा यथासंभव छोटा है, जिसका अर्थ है कि वास्तविक मूल्य असंबंधित मामले के सैद्धांतिक मूल्य के करीब है:

$$S = \sum_{i\in \{0,1\}}\sum_{j\in \{0,1\}} \frac{(E_{ij}-F_{ij})^2}{ F_{ij}}$$

यह साबित करने के लिए कि उपरोक्त आँकड़ा लगभग $1$ की स्वतंत्रता की डिग्री के साथ काई-स्क्वायर वितरण का पालन करता है, अर्थात, $S\overset{\cdot}{\sim} \chi^2(1)$. इसलिए, सहसंबंध का आकलन $P(\chi^2(1)>S)$ की संभावना की गणना करके किया जा सकता है जब यह संभावना $0.05$ से कम होती है, तो गायब स्थिति और सकारात्मक या नकारात्मक लेबल के बीच एक संबंध होता है, यानी अप्रासंगिक परिस्थितियों में सैद्धांतिक मूल्य वास्तविक मूल्य से काफी अलग होता है।

ऊपर उल्लिखित संभाव्यता आंकड़ों में $2\times2$ आकस्मिकता तालिका परीक्षण समस्या का $p$ मान है, जोch को `scipy.stats.chi2.sf(S, 1)` के माध्यम से प्राप्त किया जा सकता है। कृपया उपरोक्त सामग्री के अनुसार क्रमशः `X_1, X_2` कॉलम का परीक्षण करें।

### Ex2: प्रतिगमन मॉडल के साथ वर्गीकरण समस्याओं का समाधान करें

`केएनएन` एक पर्यवेक्षित शिक्षण मॉडल है जो प्रतिगमन और वर्गीकरण दोनों समस्याओं को हल कर सकता है। श्रेणीबद्ध चर के लिए, `केएनएन` वर्गीकरण मॉडल का उपयोग लापता नमूनों की विशेषताओं के बीच की दूरी को मापने के लिए किया जा सकता है अन्य सभी नमूनेविशेषताएं। जब मॉडल पैरामीटर `n_neighbors=n` दिया जाता है, तो नमूने के निकटतम $n$ में से सबसे अधिक नमूनों वाली श्रेणी की गणना की जाती है, और इस श्रेणी का उपयोग नमूने की लुप्त भविष्यवाणी श्रेणी के रूप में किया जाता है नीचे दिए गए चित्र में, अज्ञात श्रेणी के पीले होने की भविष्यवाणी की गई है:

<img src='../source/_static/ch7_ex.png' चौड़ाई='25%'>

उपरोक्त रंगीन बिंदुओं का विशिष्ट डेटा इस प्रकार प्रदान किया गया है:

In [77]:
df = pd.read_excel('../data/color.xlsx')
df.head(3)

    X1   X2 Color
0 -2.5  2.8  Blue
1 -1.5  1.8  Blue
2 -0.8  2.8  Blue

यह ज्ञात है कि अनुमानित किए जाने वाले नमूना बिंदु $X_1=0.8, X_2=-0.2$ हैं, तो अनुमानित श्रेणी को निम्नानुसार लिखा जा सकता है:

In [78]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=6)
clf.fit(df.iloc[:,:2], df.Color)
clf.predict([[0.8, -0.2]])

array(['Yellow'], dtype=object)

1. प्रतिगमन समस्याओं के लिए, एक विशिष्ट मूल्य की आवश्यकता होती है, इसलिए अनुमानित मूल्य सबसे हाल के $n$ नमूनों के अनुरूप औसत मूल्य से प्राप्त किया जाता है। कृपया उपरोक्त वर्गीकरण समस्या को एक प्रतिगमन समस्या में परिवर्तित करें, और केवल `KNeighborsRegressor` का उपयोग करें उपरोक्त `KNeighborsClassifier` फ़ंक्शन को पूरा करें।
2. कृपया 'ऑडिट' डेटासेट में 'रोजगार' वेरिएबल के लिए लापता मानों को इंटरपोल करने के लिए प्रश्न 1 में दी गई विधि का उपयोग करें।

In [79]:
df = pd.read_csv('../data/audit.csv')
df.head(3)

        ID  Age Employment    Marital     Income  Gender  Hours
0  1004641   38    Private  Unmarried   81838.00  Female     72
1  1010229   35    Private     Absent   72099.00    Male     30
2  1024587   32    Private   Divorced  154676.74    Male     40