<केंद्र><h1>अध्याय 7 गुम डेटा</h1></केंद्र>

In [1]:
import numpy as np
import pandas as pd

## 1. सांख्यिकी और लुप्त मानों का विलोपन
### 1. गुम सूचना के आँकड़े

गुम डेटा के लिए, आप यह देखने के लिए `isna` या `isnull` (दोनों कार्यों के बीच कोई अंतर नहीं है) का उपयोग कर सकते हैं कि क्या प्रत्येक सेल गायब है, `मीन` के साथ संयुक्त, आप प्रत्येक में लापता मानों के अनुपात की गणना कर सकते हैं स्तंभ:

In [2]:
df = pd.read_csv('../data/learn_pandas.csv', usecols = ['Grade', 'Name', 'Gender', 'Height', 'Weight', 'Transfer'])
df.isna().head()

   Grade   Name  Gender  Height  Weight  Transfer
0  False  False   False   False   False     False
1  False  False   False   False   False     False
2  False  False   False   False   False     False
3  False  False   False    True   False     False
4  False  False   False   False   False     False

In [3]:
df.isna().mean() # 查看缺失的比例

Grade       0.000
Name        0.000
Gender      0.000
Height      0.085
Weight      0.055
Transfer    0.060
dtype: float64

यदि आप किसी निश्चित कॉलम में लुप्त या गैर-अनुपलब्ध पंक्तियों को देखना चाहते हैं, तो आप बूलियन अनुक्रमण के लिए `श्रृंखला` पर `isna` या `notna` का उपयोग कर सकते हैं। उदाहरण के लिए, गायब ऊंचाई वाली पंक्तियों को देखें:

In [4]:
df[df.Height.isna()].head()

        Grade          Name  Gender  Height  Weight Transfer
3   Sophomore  Xiaojuan Sun  Female     NaN    41.0        N
12     Senior      Peng You  Female     NaN    48.0      NaN
26     Junior     Yanli You  Female     NaN    48.0        N
36   Freshman  Xiaojuan Qin    Male     NaN    79.0        Y
60   Freshman    Yanpeng Lv    Male     NaN    65.0        N

यदि आप एक ही समय में कई कॉलम खोजना चाहते हैं और उन पंक्तियों को पुनः प्राप्त करना चाहते हैं जो गायब हैं या जिनमें कम से कम एक गायब है या कोई पंक्ति गायब नहीं है, तो आप `isna, notna` और `any, all` के संयोजन का उपयोग कर सकते हैं। उदाहरण के लिए, क्रमशः ऊंचाई, वजन और स्थानांतरण स्थिति के तीन कॉलम खोजें:

In [5]:
sub_set = df[['Height', 'Weight', 'Transfer']]
df[sub_set.isna().all(1)] # 全部缺失

      Grade          Name Gender  Height  Weight Transfer
102  Junior  Chengli Zhao   Male     NaN     NaN      NaN

In [6]:
df[sub_set.isna().any(1)].head() # 至少有一个缺失

        Grade           Name  Gender  Height  Weight Transfer
3   Sophomore   Xiaojuan Sun  Female     NaN    41.0        N
9      Junior        Juan Xu  Female   164.8     NaN        N
12     Senior       Peng You  Female     NaN    48.0      NaN
21     Senior  Xiaopeng Shen    Male   166.0    62.0      NaN
26     Junior      Yanli You  Female     NaN    48.0        N

In [7]:
df[sub_set.notna().all(1)].head() # 没有缺失

       Grade            Name  Gender  Height  Weight Transfer
0   Freshman    Gaopeng Yang  Female   158.9    46.0        N
1   Freshman  Changqiang You    Male   166.5    70.0        N
2     Senior         Mei Sun    Male   188.9    89.0        N
4  Sophomore     Gaojuan You    Male   174.0    74.0        N
5   Freshman     Xiaoli Qian  Female   158.0    51.0        N

### 2. गुम सूचना को हटाना

डेटा प्रोसेसिंग में, लापता मानों के आकार, अनुपात या अन्य विशेषताओं के आधार पर पंक्ति नमूने या कॉलम सुविधाओं को हटाना अक्सर आवश्यक होता है, `पांडा` संचालित करने के लिए `ड्रॉपना` फ़ंक्शन प्रदान करता है।

`ड्रॉपना` के मुख्य पैरामीटर अक्ष दिशा `अक्ष` (डिफ़ॉल्ट 0 है, यानी पंक्तियों को हटाना), हटाने की विधि `कैसे`, और हटाए गए गैर-लापता मानों की संख्या की सीमा `थ्रेस` हैं ` ($\color{red}{non-missing values ​​}$संबंधित आयाम जो इस संख्या तक नहीं पहुंचते हैं उन्हें हटा दिया जाएगा), वैकल्पिक विलोपन उपसमुच्चय `subset`, जिसके बीच `how` में मुख्य रूप से चुनने के लिए दो पैरामीटर हैं, `कोई भी` और `सभी`।

उदाहरण के लिए, उन पंक्तियों को हटाने के लिए जहां कम से कम एक ऊंचाई और वजन गायब है:

In [8]:
res = df.dropna(how = 'any', subset = ['Height', 'Weight'])
res.shape

(174, 6)

उदाहरण के लिए, 15 से अधिक लुप्त मान वाले कॉलम हटाने के लिए:

In [9]:
res = df.dropna(1, thresh=df.shape[0]-15) # 身高被删除
res.head()

       Grade            Name  Gender  Weight Transfer
0   Freshman    Gaopeng Yang  Female    46.0        N
1   Freshman  Changqiang You    Male    70.0        N
2     Senior         Mei Sun    Male    89.0        N
3  Sophomore    Xiaojuan Sun  Female    41.0        N
4  Sophomore     Gaojuan You    Male    74.0        N

बेशक, यह `ड्रॉपना` के बिना भी संभव है। उदाहरण के लिए, उपरोक्त दो ऑपरेशन बूलियन इंडेक्स का उपयोग करके भी पूरे किए जा सकते हैं:

In [10]:
res = df.loc[df[['Height', 'Weight']].notna().all(1)]
res.shape

(174, 6)

In [11]:
res = df.loc[:, ~(df.isna().sum()>15)]
res.head()

       Grade            Name  Gender  Weight Transfer
0   Freshman    Gaopeng Yang  Female    46.0        N
1   Freshman  Changqiang You    Male    70.0        N
2     Senior         Mei Sun    Male    89.0        N
3  Sophomore    Xiaojuan Sun  Female    41.0        N
4  Sophomore     Gaojuan You    Male    74.0        N

## 2. लुप्त मानों की पूर्ति एवं प्रक्षेप
### 1. fillna का उपयोग करके भरें

`फ़िलना` में आमतौर पर उपयोग किए जाने वाले तीन पैरामीटर हैं: `मूल्य, विधि, सीमा`। उनमें से, `वैल्यू` भरने का मूल्य है, जो इंडेक्स से तत्व तक स्केलर या डिक्शनरी मैपिंग हो सकता है; `मेथड` फिलिंग विधि है, जिसके दो प्रकार हैं: पिछले तत्वों के साथ `फिल' भरना और `बीफिल' भरना; `निम्नलिखित तत्वों के साथ, `सीमा` पैरामीटर लगातार लापता मानों के लिए भरने के समय की अधिकतम संख्या को इंगित करता है।

आइए उपयोग को दर्शाने के लिए एक सरल `श्रृंखला` बनाएं:

In [12]:
s = pd.Series([np.nan, 1, np.nan, np.nan, 2, np.nan], list('aaabcd'))
s

a    NaN
a    1.0
a    NaN
b    NaN
c    2.0
d    NaN
dtype: float64

In [13]:
s.fillna(method='ffill') # 用前面的值向后填充

a    NaN
a    1.0
a    1.0
b    1.0
c    2.0
d    2.0
dtype: float64

In [14]:
s.fillna(method='ffill', limit=1) # 连续出现的缺失，最多填充一次

a    NaN
a    1.0
a    1.0
b    NaN
c    2.0
d    2.0
dtype: float64

In [15]:
s.fillna(s.mean()) # value为标量

a    1.5
a    1.0
a    1.5
b    1.5
c    2.0
d    1.5
dtype: float64

In [16]:
s.fillna({'a': 100, 'd': 200}) # 通过索引映射填充的值

a    100.0
a      1.0
a    100.0
b      NaN
c      2.0
d    200.0
dtype: float64

कभी-कभी अधिक उचित ढंग से भरने के लिए, पहले समूह बनाना और फिर संचालन करना आवश्यक होता है। उदाहरण के लिए, ग्रेड के अनुसार ऊंचाई का औसत मान भरें:

In [17]:
df.groupby('Grade')['Height'].transform(lambda x: x.fillna(x.mean())).head()

0    158.900000
1    166.500000
2    188.900000
3    163.075862
4    174.000000
Name: Height, dtype: float64

#### [अभ्यास]
निम्नलिखित नियमों के अनुसार लुप्त मानों को एक क्रम में भरें: यदि लुप्त मान अकेले आते हैं, तो उन्हें पहले के औसत मान से भरें और यदि लुप्त मान लगातार आते हैं, तो उन्हें न भरें, अर्थात बाद में अनुक्रम भरना `[1, NaN, 3, NaN, NaN]` यदि यह `[1, 2, 3, NaN, NaN]` है, तो कृपया इसे प्राप्त करने के लिए `fillna` फ़ंक्शन का उपयोग करें। (टिप: `सीमा` पैरामीटर का उपयोग करें)
#### 【अंत】
### 2. इंटरपोलेशन फ़ंक्शन

'इंटरपोलेट' फ़ंक्शन के विवरण में, कई इंटरपोलेशन विधियां सूचीबद्ध हैं, जिसमें 'स्किपी' से बड़ी संख्या में विधियां शामिल हैं। चूंकि कई प्रक्षेप विधियों में अपेक्षाकृत जटिल गणितीय ज्ञान शामिल होता है, इसलिए यहां केवल तीन सामान्य और सरल मामलों पर चर्चा की जाती है, अर्थात् रैखिक प्रक्षेप, निकटतम पड़ोसी प्रक्षेप और सूचकांक प्रक्षेप।

`इंटरपोलेट` के लिए, इंटरपोलेशन विधि (डिफ़ॉल्ट `रैखिक` रैखिक इंटरपोलेशन है) के अलावा, `फ़िलना` के समान दो सामान्य पैरामीटर हैं, एक दिशा को नियंत्रित करने के लिए `limit_direction` है, और दूसरा दिशा को नियंत्रित करने के लिए है मूल्य प्रक्षेप संख्या की अधिकतम निरंतर लुप्त `लिमीटी`. उनमें से, इंटरपोलेशन डिफॉल्ट को `फॉरवर्ड` तक सीमित करने की दिशा, जो `फ़िलना` की `विधि` में `फ़िल` के समान है। यदि आप बैकवर्ड लिमिटिंग इंटरपोलेशन या द्विदिश सीमित इंटरपोलेशन चाहते हैं, तो आप `बैकवर्ड` या` निर्दिष्ट कर सकते हैं। दोनों `.

In [18]:
s = pd.Series([np.nan, np.nan, 1, np.nan, np.nan, np.nan, 2, np.nan, np.nan])
s.values

array([nan, nan,  1., nan, nan, nan,  2., nan, nan])

उदाहरण के लिए, डिफ़ॉल्ट रैखिक इंटरपोलेशन विधि के तहत, `बैकवर्ड` और द्विदिशात्मक प्रतिबंधित इंटरपोलेशन क्रमशः किया जाता है, जबकि लगातार लाइनों की अधिकतम संख्या 1 तक सीमित होती है:

In [19]:
res = s.interpolate(limit_direction='backward', limit=1)
res.values

array([ nan, 1.  , 1.  ,  nan,  nan, 1.75, 2.  ,  nan,  nan])

In [20]:
res = s.interpolate(limit_direction='both', limit=1)
res.values

array([ nan, 1.  , 1.  , 1.25,  nan, 1.75, 2.  , 2.  ,  nan])

दूसरा सामान्य प्रक्षेप निकटतम पड़ोसी प्रक्षेप है, जहां एक लुप्त मान तत्व अपने निकटतम गैर-लापता मान तत्व के समान होता है:

In [21]:
s.interpolate('nearest').values

array([nan, nan,  1.,  1.,  1.,  2.,  2., nan, nan])

अंत में, आइए इंडेक्स इंटरपोलेशन का परिचय दें, जो इंडेक्स आकार के आधार पर रैखिक इंटरपोलेशन है। उदाहरण के लिए, प्रदर्शन के लिए असमान दूरी वाले सूचकांक बनाएं:

In [22]:
s = pd.Series([0,np.nan,10],index=[0,1,10])
s

0      0.0
1      NaN
10    10.0
dtype: float64

In [23]:
s.interpolate() # 默认的线性插值，等价于计算中点的值

0      0.0
1      5.0
10    10.0
dtype: float64

In [24]:
s.interpolate(method='index') # 和索引有关的线性插值，计算相应索引大小对应的值

0      0.0
1      1.0
10    10.0
dtype: float64

साथ ही, इस पद्धति का उपयोग टाइमस्टैम्प इंडेक्स के लिए भी किया जा सकता है। समय श्रृंखला के बारे में अन्य विषयों पर अध्याय 10 में चर्चा की जाएगी। यहां एक सरल उदाहरण दिया गया है:

In [25]:
s = pd.Series([0,np.nan,10], index=pd.to_datetime(['20200101', '20200102', '20200111']))
s

2020-01-01     0.0
2020-01-02     NaN
2020-01-11    10.0
dtype: float64

In [26]:
s.interpolate()

2020-01-01     0.0
2020-01-02     5.0
2020-01-11    10.0
dtype: float64

In [27]:
s.interpolate(method='index')

2020-01-01     0.0
2020-01-02     1.0
2020-01-11    10.0
dtype: float64

#### [नोट] बहुपद और तख़्ता प्रक्षेप पर नोट्स
यदि आप `इंटरपोलेट` में `बहुपद` इंटरपोलेशन विधि चुनते हैं, तो यह आंतरिक रूप से `scipy.interpolate.interp1d(*,*,kind=order)` को कॉल करता है, और यह फ़ंक्शन आंतरिक रूप से `make_interp_spline` विधि को कॉल करता है, इसलिए यह वास्तव में स्प्लाइन है बहुपद फिटिंग के बजाय इंटरपोलेशन, `numpy` में `पॉलीफ़िट` के समान, `स्पलाइन` विधि का उपयोग करते समय, `पांडा` साधारण स्पलाइन इंटरपोलेशन के बजाय `scipy.interpolate.UnivariateSpline` को कॉल करता है। इस भाग में दस्तावेज़ विवरण अपेक्षाकृत भ्रमित करने वाला है, और इस पैरामीटर का डिज़ाइन भी अनुचित है। इन दो प्रकार की इंटरपोलेशन विधियों का उपयोग करते समय, उपयोगकर्ताओं को अपनी वास्तविक आवश्यकताओं के आधार पर सावधानीपूर्वक उचित इंटरपोलेशन विधि का चयन करना होगा।
#### 【अंत】
## 3. अशक्त प्रकार
### 1. छूटे हुए निशान और उनके दोष

'पायथन' में गुम मानों को 'कोई नहीं' द्वारा दर्शाया जाता है, जो स्वयं को छोड़कर किसी अन्य तत्व के बराबर नहीं है:

In [28]:
None == None

True

In [29]:
None == False

False

In [30]:
None == []

False

In [31]:
None == ''

False

`numpy` में, `np.nan` का उपयोग लुप्त मानों को दर्शाने के लिए किया जाता है। किसी अन्य तत्व के बराबर नहीं होने के अलावा, यह तत्व स्वयं से तुलना करने पर `गलत` भी लौटाता है:

In [32]:
np.nan == np.nan

False

In [33]:
np.nan == None

False

In [34]:
np.nan == False

False

यह ध्यान देने योग्य है कि हालांकि लापता अनुक्रम या तालिका के तत्वों की तुलना करते समय `np.nan` की संबंधित स्थिति `गलत` लौटा देगी, लेकिन पहचान परीक्षण के दौरान दो तालिकाओं या दो अनुक्रमों की तुलना करने के लिए `बराबर` फ़ंक्शन का उपयोग करते समय, वे स्थितियाँ जहाँ दोनों तालिकाओं में गायब मान हैं, स्वचालित रूप से छोड़ दिए जाएंगे और `True` सीधे लौटा दिया जाएगा:

In [35]:
s1 = pd.Series([1, np.nan])
s2 = pd.Series([1, 2])
s3 = pd.Series([1, np.nan])
s1 == 1

0     True
1    False
dtype: bool

In [36]:
s1.equals(s2)

False

In [37]:
s1.equals(s3)

True

समय श्रृंखला वस्तुओं में, `पांडा` लापता मानों को संदर्भित करने के लिए `pd.NaT` का उपयोग करता है, और इसका कार्य `np.nan` के अनुरूप है (समय श्रृंखला वस्तुओं और निर्माण पर अध्याय 10 में चर्चा की जाएगी):

In [38]:
pd.to_timedelta(['30s', np.nan]) # Timedelta中的NaT

TimedeltaIndex(['0 days 00:00:30', NaT], dtype='timedelta64[ns]', freq=None)

In [39]:
pd.to_datetime(['20200101', np.nan]) # Datetime中的NaT

DatetimeIndex(['2020-01-01', 'NaT'], dtype='datetime64[ns]', freq=None)

तो समय वस्तुओं में लुप्तता का प्रतिनिधित्व करने के लिए `pd.NaT` का परिचय क्यों दें? इसे अभी भी `np.nan` के रूप में संग्रहीत करने में क्या समस्या है? आप `ऑब्जेक्ट` प्रकार की वस्तुओं को `पांडा` में देख सकते हैं, और `ऑब्जेक्ट` एक मिश्रित ऑब्जेक्ट प्रकार है। यदि एक ही समय में कई प्रकार के तत्व दिखाई देते हैं और `सीरीज़` में संग्रहीत होते हैं, तो इसका प्रकार` ऑब्जेक्ट` बन जाएगा। उदाहरण के लिए, पूर्णांक और स्ट्रिंग दोनों की एक सूची:

In [40]:
pd.Series([1, 'two'])

0      1
1    two
dtype: object

`NaT` समस्या की जड़ इस तथ्य से आती है कि `np.nan` स्वयं एक फ़्लोटिंग पॉइंट प्रकार है, और यदि फ़्लोटिंग पॉइंट और समय प्रकार मिश्रित रूप से संग्रहीत होते हैं, तो यह अस्पष्ट हो जाएगा यदि कोई नया अंतर्निहित लापता प्रकार नहीं है इसे `ऑब्जेक्ट` प्रकार से संभालने के लिए डिज़ाइन किया गया है, जो स्पष्ट रूप से अवांछनीय है।

In [41]:
type(np.nan)

float

वहीं, `np.nan` की फ़्लोटिंग पॉइंट प्रकृति के कारण, यदि किसी पूर्णांक की `सीरीज़` में कोई कमी है, तो उसका प्रकार `फ़्लोट64` में परिवर्तित हो जाएगा और यदि कोई पूर्णांक में कोई कमी है; बूलियन प्रकार अनुक्रम, तो इसका प्रकार `बूल` के बजाय `ऑब्जेक्ट` में परिवर्तित हो जाएगा:

In [42]:
pd.Series([1, np.nan]).dtype

dtype('float64')

In [43]:
pd.Series([True, False, np.nan]).dtype

dtype('O')

इसलिए, `1.0.0` संस्करण में प्रवेश करने के बाद, `पांडा` ने इन दोषों से निपटने के लिए एक नया लापता प्रकार `pd.NA` और तीन `nullable` अनुक्रम प्रकार डिजाइन करने का प्रयास किया, जो `Int, boolean` और `string हैं `.

### 2. अशक्त प्रकार के गुण

शाब्दिक अर्थ से, `Nullable` का अर्थ है निरर्थक। अनुक्रम प्रकार लुप्त मानों से प्रभावित नहीं होता है। उदाहरण के लिए, उपरोक्त तीन `Nulable` प्रकारों में संग्रहीत गुम मानों को `pandas` में निर्मित `pd.NA` में परिवर्तित कर दिया जाएगा:

In [44]:
pd.Series([np.nan, 1], dtype = 'Int64') # "i"是大写的

0    <NA>
1       1
dtype: Int64

In [45]:
pd.Series([np.nan, True], dtype = 'boolean')

0    <NA>
1    True
dtype: boolean

In [46]:
pd.Series([np.nan, 'my_str'], dtype = 'string')

0      <NA>
1    my_str
dtype: string

`Int` के अनुक्रम में, जब भी संभव हो लौटाया गया परिणाम `Nullable` प्रकार का होगा:

In [47]:
pd.Series([np.nan, 0], dtype = 'Int64') + 1

0    <NA>
1       1
dtype: Int64

In [48]:
pd.Series([np.nan, 0], dtype = 'Int64') == 0

0    <NA>
1    True
dtype: boolean

In [49]:
pd.Series([np.nan, 0], dtype = 'Int64') * 0.5 # 只能是浮点

0    NaN
1    0.0
dtype: float64

'बूलियन' प्रकार के अनुक्रम के लिए, 'बूल' अनुक्रम से इसके व्यवहार में दो मुख्य अंतर हैं:

पहला यह है कि लुप्त मानों वाली बूलियन सूचियों को अनुक्रमणिका में नहीं चुना जा सकता है, और `बूलियन` लुप्त मानों को `गलत` मानेगा:

In [50]:
s = pd.Series(['a', 'b'])
s_bool = pd.Series([True, np.nan])
s_boolean = pd.Series([True, np.nan]).astype('boolean')
# s[s_bool] # त्रुटि की रिपोर्ट करें
s[s_boolean]

0    a
dtype: object

दूसरा बिंदु यह है कि तार्किक संचालन करते समय, 'बूल' प्रकार हमेशा लापता स्थानों में 'गलत' लौटाएगा, जबकि 'बूलियन' इस आधार पर संबंधित मान लौटाएगा कि तार्किक ऑपरेशन अद्वितीय परिणाम निर्धारित कर सकता है या नहीं। तो एकमात्र परिणाम निर्धारित करने में सक्षम होने का क्या मतलब है? एक सरल उदाहरण देने के लिए: `True |. pd.NA` में लुप्त मान चाहे जो भी हो, यह निश्चित रूप से `True` लौटाएगा; `False |. pd.NA`` में परिणाम लुप्त मान के अनुसार बदल जाएगा , जिस स्थिति में यह `pd.NA` लौटाएगा; इससे कोई फर्क नहीं पड़ता कि `False & pd.NA` में लुप्त मान क्या है, `False` वापस आ जाएगा।

In [51]:
s_boolean & True

0    True
1    <NA>
dtype: boolean

In [52]:
s_boolean | True

0    True
1    True
dtype: boolean

In [53]:
~s_boolean # 取反操作同样是无法唯一地判断缺失结果

0    False
1     <NA>
dtype: boolean

`स्ट्रिंग` प्रकार के विशिष्ट गुणों पर अगले अध्याय टेक्स्ट डेटा में चर्चा की जाएगी।

आम तौर पर, वास्तविक डेटा प्रोसेसिंग के दौरान, डेटा सेट को पढ़ने के बाद, आप पहले इसे `convert_dtypes` के माध्यम से `Nullable` प्रकार में परिवर्तित कर सकते हैं:

In [54]:
df = pd.read_csv('../data/learn_pandas.csv')
df = df.convert_dtypes()
df.dtypes

School          string
Grade           string
Name            string
Gender          string
Height         float64
Weight           Int64
Transfer        string
Test_Number      Int64
Test_Date       string
Time_Record     string
dtype: object

### 3. लुप्त डेटा की गणना और समूहीकरण

जोड़ और गुणन का उपयोग करके फ़ंक्शन को `sum, prod` कहते समय, गायब डेटा को क्रमशः 0 और 1 के रूप में माना जाता है, अर्थात, मूल गणना परिणाम नहीं बदला जाता है:

In [55]:
s = pd.Series([2,3,np.nan,4,5])
s.sum()

14.0

In [56]:
s.prod()

120.0

संचय फ़ंक्शन का उपयोग करते समय, लापता मान वाले स्थान स्वचालित रूप से छोड़ दिए जाते हैं:

In [57]:
s.cumsum()

0     2.0
1     5.0
2     NaN
3     9.0
4    14.0
dtype: float64

एकल स्केलर ऑपरेशन करते समय, `np.nan ** 0` और `1 ** np.nan` को छोड़कर, जो निश्चित मान हैं, सभी ऑपरेशन परिणाम गायब हैं (`pd.NA` व्यवहार इसके अनुरूप है), और तुलना करने पर `np.nan` को `गलत` लौटाना होगा, और `pd.NA` `pd.NA` लौटाना होगा:

In [58]:
np.nan == 0

False

In [59]:
pd.NA == 0

In [60]:
np.nan > 0

False

In [61]:
pd.NA > 0

In [62]:
np.nan + 1

nan

In [63]:
np.log(np.nan)

nan

In [64]:
np.add(np.nan, 1)

nan

In [65]:
np.nan ** 0

1.0

In [66]:
pd.NA ** 0

1

In [67]:
1 ** np.nan

1.0

In [68]:
1 ** pd.NA

1

इसके अलावा, यह ध्यान दिया जाना चाहिए कि यद्यपि दो फ़ंक्शन `diff और pct_change` के समान कार्य हैं, वे लापता गणना को अलग-अलग तरीके से संभालते हैं, जबकि बाद में, लापता गणना में शामिल सभी भाग गायब मानों पर सेट होते हैं मूल्य स्थिति परिवर्तन की दर 0% पर सेट है:

In [69]:
s.diff()

0    NaN
1    1.0
2    NaN
3    NaN
4    1.0
dtype: float64

In [70]:
s.pct_change()

0         NaN
1    0.500000
2    0.000000
3    0.333333
4    0.250000
dtype: float64

कुछ कार्यों के लिए, अनुपलब्धता को एक श्रेणी के रूप में माना जा सकता है, उदाहरण के लिए, `groupby, get_dummies` में, अनुपलब्ध श्रेणियों को जोड़ने के लिए संबंधित पैरामीटर सेट किए जा सकते हैं:

In [71]:
df_nan = pd.DataFrame({'category':['a','a','b',np.nan,np.nan], 'value':[1,3,5,7,9]})
df_nan

  category  value
0        a      1
1        a      3
2        b      5
3      NaN      7
4      NaN      9

In [72]:
df_nan.groupby('category', dropna=False)['value'].mean() # pandas版本大于1.1.0

category
a      2
b      5
NaN    8
Name: value, dtype: int64

In [73]:
pd.get_dummies(df_nan.category, dummy_na=True)

   a  b  NaN
0  1  0    0
1  1  0    0
2  0  1    0
3  0  0    1
4  0  0    1

##4.अभ्यास
### Ex1: लुप्त मानों और श्रेणियों के बीच सहसंबंध परीक्षण
डेटा प्रोसेसिंग में, बहुत अधिक गुम मान वाले कॉलम अक्सर हटा दिए जाते हैं जब तक कि गुम मान लेबल से दृढ़ता से संबंधित न हो। नीचे बाइनरी वर्गीकरण समस्या के बारे में एक डेटा सेट है, जहां `X_1, X_2` फ़ीचर वेरिएबल हैं और `y` एक बाइनरी वर्गीकरण लेबल है।

In [74]:
df = pd.read_csv('../data/missing_chi.csv')
df.head()

    X_1  X_2  y
0   NaN  NaN  0
1   NaN  NaN  0
2   NaN  NaN  0
3  43.0  NaN  0
4   NaN  NaN  0

In [75]:
df.isna().mean()

X_1    0.855
X_2    0.894
y      0.000
dtype: float64

In [76]:
df.y.value_counts(normalize=True)

0    0.918
1    0.082
Name: y, dtype: float64

वास्तव में, कभी-कभी लापता मूल्यों की उपस्थिति या अनुपस्थिति अपने आप में एक विशेषता होती है, और कुछ मामलों में सकारात्मक या नकारात्मक लेबल से संबंधित हो सकती है। विलोपन की उपस्थिति या अनुपस्थिति और लेबल की सकारात्मक और नकारात्मक प्रकृति के संबंध में, ची-स्क्वायर परीक्षण का उपयोग आंकड़ों में यह निर्धारित करने के लिए किया जा सकता है कि उनके बीच कोई संबंध है या नहीं। गायब विशेषताओं वाले सकारात्मक उदाहरण, गायब सुविधाओं वाले नकारात्मक उदाहरण, बिना गायब सुविधाओं वाले सकारात्मक उदाहरण और बिना गायब सुविधाओं वाले नकारात्मक उदाहरणों के अनुसार, उन्हें चार स्थितियों में विभाजित किया जा सकता है। माना कि उनके अनुरूप नमूनों की संख्या $n_{ है। 11}, n_ {10}, n_{01}, n_{00}$. यदि वे असंबंधित हैं, तो गायब सुविधाओं में सकारात्मक उदाहरणों का सैद्धांतिक मूल्य गायब सुविधाओं की कुल संख्या में कुल सकारात्मक उदाहरणों के अनुपात के करीब होना चाहिए $\times$, यानी:

$$E_{11} = n_{11} \लगभग (n_{11}+n_{10})\times\frac{n_{11}+n_{01}}{n_{11}+n_{10}+ n_{01}+n_{00}} = F_{11}$$

यही बात अन्य तीन स्थितियों पर भी लागू होती है। अब वास्तविक मूल्य और सैद्धांतिक मूल्य को क्रमशः $E_{ij}, F_{ij}$ के रूप में दर्ज किया जाए। फिर हम आशा करते हैं कि निम्नलिखित आँकड़े यथासंभव छोटे होने चाहिए, जिसका अर्थ है कि वास्तविक मूल्य सैद्धांतिक मूल्य के करीब है अप्रासंगिक स्थिति का:

$$S = \sum_{i\in \{0,1\}}\sum_{j\in \{0,1\}} \frac{(E_{ij}-F_{ij})^2}{ F_{ij}}$$

कर सकनायह साबित करने के लिए कि उपरोक्त आँकड़े लगभग स्वतंत्रता की डिग्री $1$ के साथ ची-स्क्वायर वितरण का पालन करते हैं, यानी, $S\overset{\cdot}{\sim} \chi^2(1)$। इसलिए, सहसंबंध को $P(\chi^2(1)>S)$ की संभावना की गणना करके निर्धारित किया जा सकता है। आमतौर पर यह माना जाता है कि जब यह संभावना $0.05$ से कम होती है, तो गायब स्थिति और के बीच एक संबंध होता है सकारात्मक और नकारात्मक लेबल, अर्थात्, शर्तों के तहत सैद्धांतिक मूल्य और वास्तविक मूल्य के बीच कोई बड़ा अंतर नहीं है।

ऊपर उल्लिखित संभावना आंकड़ों में $2\times2$ आकस्मिकता तालिका परीक्षण समस्या का $p$ मान है, जिसे `scipy.stats.chi2.sf(S, 1)` के माध्यम से प्राप्त किया जा सकता है। कृपया उपरोक्त सामग्रियों के आधार पर क्रमशः `X_1, X_2` कॉलम की जाँच करें।

### Ex2: वर्गीकरण समस्याओं को हल करने के लिए प्रतिगमन मॉडल का उपयोग करें

`केएनएन` एक पर्यवेक्षित शिक्षण मॉडल है जो प्रतिगमन और वर्गीकरण दोनों समस्याओं को हल कर सकता है। श्रेणीबद्ध चर के लिए, `KNN` वर्गीकरण मॉडल का उपयोग लापता मानों के प्रक्षेप को प्राप्त करने के लिए किया जा सकता है। विचार यह है कि मॉडल पैरामीटर `n_neighbors=' में लापता नमूने की विशेषताओं और अन्य सभी नमूनों की विशेषताओं के बीच की दूरी को मापा जाए n` दिया गया है, नमूने के निकटतम $n$ नमूना बिंदुओं वाली श्रेणी से दूरी का उपयोग नमूने की लुप्त भविष्यवाणी श्रेणी के रूप में किया जाता है, जैसा कि नीचे दिए गए चित्र में दिखाया गया है, अज्ञात श्रेणी होने की भविष्यवाणी की गई है पीला:

<img src='../source/_static/ch7_ex.pnजी" चौड़ाई = "25%">

उपरोक्त रंगीन बिंदुओं का विशिष्ट डेटा इस प्रकार प्रदान किया गया है:

In [77]:
df = pd.read_excel('../data/color.xlsx')
df.head(3)

    X1   X2 Color
0 -2.5  2.8  Blue
1 -1.5  1.8  Blue
2 -0.8  2.8  Blue

यह ज्ञात है कि अनुमानित किए जाने वाले नमूना बिंदु $X_1=0.8, X_2=-0.2$ हैं, तो भविष्यवाणी श्रेणी को निम्नानुसार लिखा जा सकता है:

In [78]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=6)
clf.fit(df.iloc[:,:2], df.Color)
clf.predict([[0.8, -0.2]])

array(['Yellow'], dtype=object)

1. प्रतिगमन समस्याओं के लिए, जो प्राप्त करने की आवश्यकता है वह एक विशिष्ट मूल्य है, इसलिए अनुमानित मूल्य नवीनतम $n$ नमूनों के अनुरूप औसत मूल्य से प्राप्त किया जाता है। कृपया उपरोक्त वर्गीकरण समस्या को प्रतिगमन समस्या में परिवर्तित करें, और उपरोक्त `KNeighborsClassifier` फ़ंक्शन को पूरा करने के लिए केवल `KNeighborsRegressor` का उपयोग करें।
2. कृपया प्रश्न 1 में दी गई विधि के अनुसार `ऑडिट` डेटा सेट में `रोजगार` वेरिएबल पर लापता मान का आरोपण करें।

In [79]:
df = pd.read_csv('../data/audit.csv')
df.head(3)

        ID  Age Employment    Marital     Income  Gender  Hours
0  1004641   38    Private  Unmarried   81838.00  Female     72
1  1010229   35    Private     Absent   72099.00    Male     30
2  1024587   32    Private   Divorced  154676.74    Male     40